DatingApp.API/.vs/DatingApp.API/v15/Server/
DatingApp.API/obj/Debug/netcoreapp2.1/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp2.1/DatingApp.API.csproj.FileListAbsolute.txt
DatingApp.API/.vs/DatingApp.API/v15/.suo
DatingApp.API/obj/DatingApp.API.csproj.nuget.cache
DatingApp.API/bin/Debug/netcoreapp2.1/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp2.1/DatingApp.API.pdb
DatingApp.API/obj/DatingApp.API.csproj.nuget.g.props
DatingApp.API/obj/Debug/netcoreapp2.1/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp2.1/DatingApp.API.pdb
DatingApp.API/obj/Debug/netcoreapp2.1/DatingApp.API.assets.cache
DatingApp.API/.vs/DatingApp.API/v16/.suo
DatingApp.API/.vs/DatingApp.API/
DatingApp.API/obj/
DatingApp-SPA/package-lock.json
DatingApp.API/bin/Debug/netcoreapp2.1/DatingApp.API.deps.json
*.config
DatingApp.API/obj/
DatingApp.API/.vs/
