<div class="container mt-5">
  <div class="row">
    <div class="btn-group">
      <button class="btn btn-primary"
              [(ngModel)]="messageContainer"
              btnRadio="Unread"
              (click)="loadMessages()">
        <i class="fa fa-envelope"></i> Unread
      </button>
      <button class="btn btn-primary"
              [(ngModel)]="messageContainer"
              btnRadio="Inbox"
              (click)="loadMessages()">
        <i class="fa fa-envelope-open"></i> Inbox
      </button>
      <button class="btn btn-primary"
              [(ngModel)]="messageContainer"
              btnRadio="Outbox"
              (click)="loadMessages()">
        <i class="fa fa-paper-plane"></i> Outbox
      </button>
    </div>

    <div class="loading" class="ml-2" *ngIf="isLoading">
        <mat-spinner  [diameter]="40" ></mat-spinner>
    </div>
  </div>

  <div class="row mt-2"
       *ngIf="messages.length == 0">
    <h3>No messages</h3>
  </div>

  <div class="row"
       *ngIf="messages.length > 0">
    <table class="table table-hover">
      <tr>
        <th>Message</th>
        <th>From / To</th>
        <th>Sent / Received</th>
        <th></th>
      </tr>
      <tr *ngFor="let message of messages"
          [routerLink]="['/members',
        messageContainer == 'Outbox' ? message.recipientId : message.senderId]" [queryParams]="{tab: 3}">
        <td>{{ message.content }}</td>
        <td>
          <div *ngIf="messageContainer" class="inline-img">
            <img src={{message?.senderPhotoUrl}}
                 class="img-circle rounded-circle mx-1"
                 tooltip="{{ message.senderKnownAs }}">
          </div>
          <strong>/</strong>
          <div *ngIf="messageContainer" class="inline-img">
            <img src={{message?.recipientPhotoUrl}}
                 class="img-circle rounded-circle mx-1"
                 tooltip="{{ message.recipientKnownAs }}">
          </div>
        </td>
        <td>{{ message.messageSent | timeAgo }}</td>
        <td>
          <button class="btn btn-danger" (click)="$event.stopPropagation(); deleteMessage(message.id)">Delete</button>
        </td>
      </tr>
    </table>

  </div>

</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true"
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;">
  </pagination>
</div>
