<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <form #registerForm="ngForm"
            (ngSubmit)="register()">
        <h2 class="text-center text-primary">Sign Up</h2>
        <hr />
        <div class="form-group">
          <input type="email"
                 name="email"
                 class="form-control"
                 required
                 placeholder="Email"
                 [(ngModel)]="userToRegister.email" />
        </div>
        <div class="form-group">
          <input type="text"
                 name="username"
                 class="form-control"
                 required
                 placeholder="Username"
                 [(ngModel)]="userToRegister.username" />
        </div>
        <div class="form-group">
          <input type="password"
                 name="password"
                 class="form-control"
                 required
                 placeholder="Password"
                 [(ngModel)]="userToRegister.password" />
        </div>
        <div class="form-group text-center">
          <button type="submit"
                  class="btn btn-primary mr-2">Register</button>
          <button type="button"
                  class="btn btn-secondary"
                  (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
