.card
{
    padding: 25px;

    .img-thumbnail
    {
        width: 100%;
        height: auto;
    }

    .form-control
    {
        margin-bottom: 1rem;
    }

    .card-body
    {
        padding: 25px 0;

        .form-inline .form-control
        {
            display: inline-block;

            width: calc(50% - 7px);

            &:last-child
            {
                margin-left: 10px;
            }
        }
    }

    .card-footer
    {
        padding: 0;

        border-top: none;
        background-color: #fff;
    }
}

.tab-panel
{
    padding: 10px 25px;

    border: 1px solid #ddd;
    border-radius: 4px;

    .nav-tabs > li
    {
        position: relative;

        a
        {
            cursor: default;

            border: 0;
        }

        &.active
        {
            border-bottom: 4px solid #f3969a;

            a
            {
                color: #f3969a;
            }
        }

        &:hover:not(.active)
        {
            border-bottom: 4px solid #78c2ad;

            a
            {
                cursor: pointer;
            }
        }
    }

    .form-control
    {
        margin-bottom: 40px;
    }

    .tab-content
    {
        padding: 40px 0 0;
    }
}
