.card
{
    padding: 25px;

    .img-thumbnail
    {
        width: 100%;
        height: auto;
    }

    .card-body
    {
        padding: 25px 0;
    }

    .card-footer
    {
        padding: 0;

        border-top: none;
        background-color: #fff;
    }
}

.tab-panel
{
    padding: 10px 25px;

    border: 1px solid #ddd;
    border-radius: 4px;

    .nav-tabs > li
    {
        position: relative;

        a
        {
            cursor: default;

            border: 0;
        }

        &.active
        {
            border-bottom: 4px solid #f3969a;

            a
            {
                color: #f3969a;
            }
        }

        &:hover:not(.active)
        {
            border-bottom: 4px solid #78c2ad;

            a
            {
                cursor: pointer;
            }
        }
    }

    .tab-content
    {
        padding: 40px 0 0;

        p
        {
            margin-bottom: 40px;
        }
    }
}

ngx-gallery
{
    position: relative;
    left: 15%;

    width: 70% !important;
    max-width: 70% !important;
    height: 0 !important;
    padding-top: 70%;

    background: silver;

    .ngx-gallery-layout
    {
        position: absolute;
        top: 0;
        left: 0;
    }
}
